<div *ngIf="!(auth.user | async)">Anonymous user</div>

<form *ngIf="auth.user | async as user" class="user-profile" #profileForm="ngForm" (submit)="save(profileForm)">
  <header>
    <div class="toolbar">
      <span class="filler"></span>
      <button type="submit" mat-flat-button color="primary" [disabled]="profileForm.invalid">Update profile</button>
      <button type="reset" mat-flat-button color="warn" (click)="cancel()">Reset</button>
      <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </header>
  <section class="user-pic" *ngIf="user.photoURL">
    <div class="label">Profile picture:</div>
    <img [src]="user.photoURL" width="128px">
    <button mat-flat-button disabled>Change image</button>
  </section>

  <section class="user-info">
    <mat-form-field>
      <input
        name="displayName" ngModel
        matInput placeholder="Display name"
        [(ngModel)]="user.displayName">
    </mat-form-field>

    <div class="variable email">
      <div class="label"><mat-icon>email</mat-icon></div>
      <div class="value">{{ user.email }}</div>
    </div>

    <mat-form-field>
      <input
          name="country" ngModel
          matInput placeholder="Your country"
          [(ngModel)]="user.country">
      <mat-icon matPrefix>location_on</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input
          name="birthdate" ngModel
          matInput [matDatepicker]="birthdatePicker" placeholder="Birthdate"
          [(ngModel)]="user.birthdate"
          [max]="today">
      <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdatePicker></mat-datepicker>
      <mat-icon matPrefix>cake</mat-icon>
    </mat-form-field>
  </section>
</form>