$line-height: 1.5rem;
$vgap: $line-height/2;
$hgap: 1rem;

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  align-items: stretch;
}

.sign-up-view, .sign-in-view {
  @include flex-column();
  max-width: 500px;
  margin: $vgap*2 auto;
  padding: $vgap*2 $hgap*2;
  background: white;
  border: 1px solid #EFEFEF;
  border-radius: $hgap/4;

  header, footer, article {
    margin: 0;
    margin-bottom: $vgap*2;
  }

  header, footer {
    text-align: center;
    color: #777;
  }

  > header {
    text-transform: uppercase;
  }
}

.sign-in-form, .sign-up-form {
  @include flex-column();

  .submit-button {
      align-self: center;
      margin: $vgap*2 0;
  }
}

.form-message {
  text-align: center;
  padding: $vgap $hgap*2;

  &.error {
      color: #d50000;
  }
}