<section class="sign-up-view">
  <header>Create account</header>
  <article class="sign-up-social">
    <header class="mat-caption">Quick connent with</header>
    <div class="social-options">
      <button mat-raised-button color="google" (click)="auth.signUpWithGoogle()">
        <fa-icon [icon]="['fab', 'google']"></fa-icon> Google
      </button>
      <button mat-raised-button color="facebook" disabled>
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook
      </button>
      <button mat-raised-button color="twitter" disabled>
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon> Twitter
      </button>
      <button mat-raised-button color="github" disabled>
        <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
      </button>
    </div>
  </article>
  <article class="sign-up-email">
    <header class="mat-caption">or register with email</header>
    <form class="sign-up-form" #regForm="ngForm" (ngSubmit)="register(regForm)">
      <mat-form-field>
        <input type="email" name="email" email required ngModel #emailInput="ngModel"
          matInput placeholder="Your email...">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="emailInput.hasError('email') && !emailInput.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailInput.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" password minlength="6" required ngModel #pwdInput="ngModel"
          matInput placeholder="Your password...">
        <mat-icon matSuffix>security</mat-icon>
        <mat-hint>At least 6 characters</mat-hint>
        <mat-hint align="end">{{ pwdInput.value?.length || 0}}/6</mat-hint>
        <mat-error *ngIf="pwdInput.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="pwdInput.hasError('minlength') && !pwdInput.hasError('required')">
          Password is too <strong>weak</strong>
        </mat-error>
      </mat-form-field>
      <div class="form-message error" *ngIf="submitError">
        {{ submitError.message }}
      </div>
      <button type="submit" class="submit-button" mat-stroked-button color="primary">Get started</button>
    </form>
  </article>
  <footer>
    Already have the account? <a routerLink="/auth/signin">Sign in</a>
  </footer>
</section>