<section class="sign-up-view">
  <header class="mat-toolbar">Create account</header>
  <article class="sign-up-social">
    <header class="mat-caption">Quick connent with</header>
    <div class="social-options">
      <button mat-raised-button (click)="auth.signUpWithGoogle()">Google</button>
      <button mat-raised-button disabled>Facebook</button>
      <button mat-raised-button disabled>Twitter</button>
      <button mat-raised-button disabled>Github</button>
    </div>
  </article>
  <article class="sign-up-email">
    <header class="mat-caption">or register with email</header>
    <form class="sign-up-form"></form>
  </article>
  <footer></footer>
</section>