.sign-up-view {
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    align-items: stretch;
    max-width: 500px;
    margin: 1.5rem auto;

    header {
        text-align: center;
        margin: .75rem 0;
        color: #777;
    }

    > header {
        text-transform: uppercase;
    }

    footer {
        text-align: center;
        margin: .75rem 0;
    }

    article {
        margin: .75rem 0;
    }
}

.social-options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    max-width: 200px;
    margin: .75rem auto;

    button {
        margin-bottom: 0.75rem;
    }

    @media (min-width: 600px) {
        flex-direction: row;
        align-content: center;
        align-items: center;
        max-width: none;
        margin: .75rem 0;

        button {
            margin: 0 0.5rem;
        }
    }
}

.sign-up-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: stretch;

    .submit-button {
        align-self: center;
        margin: 1.5rem 0;
    }
}