<section class="sign-up-view">
  <header class="mat-toolbar">Create account</header>
  <article class="sign-up-social">
    <header class="mat-caption">Quick connent with</header>
    <div class="social-options">
      <button mat-raised-button color="google" (click)="auth.signUpWithGoogle()">
        <fa-icon [icon]="['fab', 'google']"></fa-icon> Google
      </button>
      <button mat-raised-button color="facebook" disabled>
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook
      </button>
      <button mat-raised-button color="twitter" disabled>
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon> Twitter
      </button>
      <button mat-raised-button color="github" disabled>
        <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
      </button>
    </div>
  </article>
  <article class="sign-up-email">
    <header class="mat-caption">or register with email</header>
    <form class="sign-up-form" #regForm="ngForm" (ngSubmit)="register(regForm)">
      <mat-form-field>
        <input matInput email ngModel name="email" placeholder="Your email..." type="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput password ngModel name="password" placeholder="Your password..." type="password">
        <mat-icon matSuffix>security</mat-icon>
      </mat-form-field>
      <button type="submit" class="submit-button" mat-stroked-button color="primary">Get started</button>
    </form>
  </article>
  <footer>
    Already have the account? <a routerLink="/auth/signin">Sign in</a>
  </footer>
</section>