@import '../styles';

.social-options {
  @include flex-column();
  max-width: 200px;
  margin: .75rem auto;

  button {
    margin-bottom: 0.75rem;
  }

  @media (min-width: 600px) {
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: none;
    margin: .75rem 0;

    button {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}