<div class="social-options">
  <button mat-raised-button color="google" (click)="auth.signUpWithGoogle()">
    <fa-icon [icon]="['fab', 'google']"></fa-icon> Google
  </button>
  <button mat-raised-button color="facebook" disabled>
    <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook
  </button>
  <button mat-raised-button color="twitter" disabled>
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon> Twitter
  </button>
  <button mat-raised-button color="github" disabled>
    <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
  </button>
</div>