@import '../styles';

.user-profile {
  @include flex-row();
  flex-wrap: wrap;

  > header {
    flex: 1 1 100%;
  }

  .user-pic {
    flex: 0 0 200px;
    margin-right: $hgap*2;
  }

  .user-info {
    flex: 1 1 auto;
  }
}

.user-pic {
  @include flex-column;
  align-content: center;
  align-items: center;
  padding: $vgap*2 $hgap*2;

  .label {
    display: none;
  }
}

.user-info {
  padding: $vgap*2 $hgap*2;
}

.variable {
  display: flex;
  margin-bottom: $vgap;

  .label {
    font-weight: 600;
    margin-right: $hgap;
  }
}

.filler {
  flex: 1 1 0;
}

.toolbar {
  @include flex-row;
  margin-bottom: $vgap*2;
  padding: $vgap 0;

  > * {
    margin-right: $hgap/2;
  }
}

.display-name {
  margin-bottom: $vgap*2;

  .label {
    display: none;
  }

  .value {
    font-size: $line-height;
  }
}